.container
  .row
    .col-md-4.col-md-offset-4.col-xs-10.col-xs-10-offset2.col-sm-10.col-sm-10-offset2
      %img#photo-mini.img-responsive.thumbnail{:src => "#{@question.photo_mini}", :alt => "foto mini"}
      %img#photo.img-responsive.thumbnail{:src => "#{@question.photo}", :style => 'display:none;', :alt => "foto"}

      #answers
        .row
          -@answers.each do |a|
            %p{:style => 'margin-top:20px'}
              - if a.answer == @question.answer.answer
                %a.correct-answer.btn.btn-info{:href => '#'}= a.answer
              - else
                %a.wrong-answer.btn.btn-info{:href => '#'}= a.answer

      #ok{:style => "display:none"}
        .row-fluid
          .span12.text-center.alert-success.padding20
            %h3 Bieeen!
            %p Le diste al clavo
            %p= "llevas #{session[:score]} al hilo "
            %a.btn.btn-large.btn-success{:href => "?"} Siguiente

      #bad{:style => "display:none"}
        .row-fluid
          .span12.text-center.alert-danger.padding20
            %h3 Mal!
            %p#alert-msg
            %p= "Obtuviste #{session[:score]} puntos "  
            %a.btn.btn-large.btn-success{:href => root_path} Volver a empezar
    -unless mobile_device?  
      .col-md-4
        <div class="fb-comments" data-href="http://whosdatass.com" data-width="400px"></div>

:javascript
  $(function() {
    $('.correct-answer').click(function () {
      $('#answers').css('display', 'none');
      $('#photo-mini').css('display', 'none');
      $('#photo').css('display', 'inline');
      $('#ok').css('display', 'inline');
      _kmq.push(['record', 'Correct Answer']);
      return false;
    });
  
    $('.wrong-answer').click(function () {
      $('#answers').css('display', 'none');
      $('#photo-mini').css('display', 'none');
      $('#photo').css('display', 'inline');
      malas = Array(
        'Error', 
        'Nope', 
        'Te falta por aprender joven padawan!!', 
        'Te falta calle');
      $('#bad').css('display', 'inline');
      $('#alert-msg').html(malas[Math.floor((Math.random()*4))]);
      _kmq.push(['record', 'Bad Answer']);

      return false; 
    });
  });