
.container
  .row
    .col-md-4.col-md-offset-4.col-xs-10.col-xs-10-offset2.col-sm-10.col-sm-10-offset2
      %img#photo-mini.img-responsive.thumbnail{:src => "#{@question.photo_mini}"}
      %img#photo.img-responsive.thumbnail{:src => "#{@question.photo}", :style => 'display:none;'}

      #answers
        .row
          -@answers.each do |a|
            %p{:style => 'margin-top:20px'}
              -if a.answer == @question.answer.answer
                %input.btn.btn-info{:onclick => "check(2, 2)", :type => "button", :value => "#{a.answer}"}
              -else
                %input.btn.btn-info{:onclick => "check(1, 2)", :type => "button" , :value => "#{a.answer}"}

      #ok{:style => "display:none"}
        .row-fluid
          .span12.text-center.alert-success.padding20
            %h3 Bieeen!
            %p Le diste al clavo
            %p= "llevas #{session[:score]} al hilo "
            %a.btn.btn-large.btn-success{:href => "?"} Siguiente

      #bad{:style => "display:none"}
        .row-fluid
          .span12.text-center.alert-danger.padding20
            %h3 Mal!
            %p#alert-msg
            %p
              %p= "Obtuviste #{session[:score]} puntos "
              %a.btn.btn-large.btn-success{:href => root_path} Volver a empezar
  
    .col-md-4
      <div class="fb-comments" data-href="http://whosdatass.com" data-width="400px"></div>

:javascript
  function check(right, option){
    
    $('#answers').css('display', 'none')

    if(right == option){
      $('#photo-mini').css('display', 'none')
      $('#photo').css('display', 'inline')
      $('#ok').css('display', 'inline')
    } else {
      malas = Array(
        'Error', 
        'Nope', 
        'Te falta por aprender joven padawan!!', 
        'Te falta calle');
      $('#bad').css('display', 'inline')
      $('#alert-msg').html(malas[Math.floor((Math.random()*4))]);
    }
  }